# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIdE
*.out

# Profiler output
*.prof
*.mprof

# Dependency directories (remove the comment below to include it)
#vendor/

# Ignoring go.sum during development
*.sum

# Ignoring .env files
.env

# Ignoring vscode files
.vscode

# Ignoring go+vscode debug files
*debug_bin*
